@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import '~bootstrap-vue/dist/bootstrap-vue.css';

.container-fluid {
    flex-wrap: wrap;
}

div.thumbnail-img {

    display: flex;
    flex-direction: column;
    padding: 5px 5px;

    .img-thumbnail {
        max-width: 500px;
        min-width: 100px;
        max-height: 500px;
        object-fit: contain;
    }
}

header.modal-header {
    background-color: #2d2e31;
}

div.modal-body {
    background-color: #2d2e31;
}

div.modal-backdrop {
    opacity: 0.7;
}

button.close {
    color: #fff;
}

.item-container {
    margin: 0;
}

.list-group {
    width: 100%;
}

.list-group-item {
    padding: 1rem;
    border: solid black 1px;
    background-color: #2d2e31;
    cursor: pointer;

    i.mdi {
        font-size: 25px;
    }
}

div.gallery-item {
    display: flex;
    justify-content: space-between;


    @media all and (max-width: 1300px) {
        flex-direction: column;

        .thumbnail-img {
            order: 2;
        }

        .close {
            order: 1;
        }
    }

    .gallery-form {
        flex-grow: 4;
        @media all and (max-width: 1300px) {
            order: 3;
        }
    }
}
