@import "~vue-multiselect/dist/vue-multiselect.min.css";

.opacity {
    opacity: 0.5;
}

.item-container {
    margin: 0;
}

.item {
    padding: 1rem;
    border: solid black 1px;
    background-color: #fefefe;
}

.item-sub {
    margin: 0 0 0 1rem;
}